*{
    margin: 0;
    padding: 0;
   box-sizing: 100%;
}
body{
    background-color: rgba(227, 227, 227, 0.805)
}
.titulo{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 40px 0;
}
.logo-container{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.logo{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin-bottom: 60px;
    margin-top: 30px;
}


nav{
    list-style: none;
    background-color:  rgb(172, 177, 179);
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 10vh;
   text-align: center;
}


li{
    text-decoration: none;
    display: inline-block;
    justify-content: space-around;
}

.nav{
    text-decoration: none;
    color: #fff;
    background-color: rgb(121, 117, 117);
    padding: 12px 20px;
    border-radius: 5px;
    width: 100px;
    display: inline-block;
    background-color: 79, 76, 73
}

.container-items{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
label{
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 10vh;
    text-align: center;
    margin-top: 50px;
    
}

button{
    margin-bottom: 20px;
}


    p{
        margin-top: 15px;
    }
 
    footer{
        background-color:rgb(172, 177, 179);
        color: #fff;
        text-decoration: none;
        padding: 20px 42px;
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    .footer-container{
        display: flex;
        justify-content: space-between; 
        align-items: flex-start; 
        flex-wrap: wrap;
       
    }

    @media (max-width: 420px) {
        .nav {
           padding: 5px 8px;
            margin: 5px;
            border-radius: 5px;
            width: 70px;
        }
    
    }