*{
    margin: 0;
    padding: 0;
   box-sizing: 100%;
}
body{
    background-color: rgba(227, 227, 227, 0.805)
}
.titulo{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 40px 0;
}
.logo-container{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}


.logo{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    
}


nav{
    list-style: none;
    background-color:  rgb(172, 177, 179);
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 10vh;
    text-align: center;
}

footer{
    margin-top: 80px;
}
li{
    text-decoration: none;
    display: inline-block;
    justify-content: space-around;
}

.nav{
    text-decoration: none;
    color: #fff;
    background-color: rgb(121, 117, 117);
    padding: 12px 20px;
    border-radius: 5px;
    width: 100px;
    display: inline-block;
    background-color: 79, 76, 73
}

.im{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container-items{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    }

    footer{
        background-color:rgb(172, 177, 179);
        color: #fff;
        text-decoration: none;
        padding: 20px 42px;
      
        
    }
    .footer-container{
        display: flex;
        justify-content: space-between; 
        align-items: flex-start; 
        flex-wrap: wrap;
       
    }